
<%- contentFor('body') %>

<div class="chestionar">
	<form method="POST" action="/rezultat-chestionar" novalidate>
		<% for(var x = 0; x < intrebari.length; x++) { %> 
			<br></br>
			<%=intrebari[x].intrebare%>
			<br>
			<% for(var i = 0; i < intrebari[x].variante.length; i++ ) { %>
				<br/><input type="radio" name="intrebari[<%=x%>]" value="<%=i%>"><%= intrebari[x].variante[i] %> 
			<% } %> 
		<% } %> 
		
		<br/><br/><input id="buton_simplu" type="submit" type="submit" value="Trimite">
</div>

<div class="poza_chestionar">

</div>

</form>


