<%- contentFor('body') %>

<label for="data2">Data:</label>
<input class="culoare" type="date" id="data2" name="data">
<button id="addEventButton2">Selecteaza data</button>
<br><br>

<h1>istoric</h1>

<!-- Display the selected date -->
<p id="selectedDateDisplay">Selected Date: <%= selectedDate %></p>

<% if (userData) { %>
<!-- Display the fetched data -->
<p>Masa 1: <%= userData.masa1 %></p>
<p>Calorii Masa 1: <%= userData.calorii_masa1 %></p>
<p>Masa 2: <%= userData.masa2 %></p>
<p>Calorii Masa 2: <%= userData.calorii_masa2 %></p>
<p>Masa 3: <%= userData.masa3 %></p>
<p>Calorii Masa 3: <%= userData.calorii_masa3 %></p>
<% } else { %>
<p>No data available for the selected date.</p>
<% } %>




<script src="/js/calendar_istoric.js"></script>

</body>
</html>
