<%- contentFor('body') %>

<label for="data2">Data:</label>
<input class="culoare" type="date" id="data2" name="data">
<button id="addEventButton2">Selecteaza data</button>
<br><br>

<h1>istoric</h1>

<!-- Display the selected date -->
<p id="selectedDateDisplay">Data selectata: <%= selectedDate %></p>

<% if (userData) { %>
<!-- Display the fetched data -->
<p>Masa 1:</p>
<ul>
    <% for (const masa1Product of masa1Products) { %>
    <li><%= masa1Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 1: <%= userData.calorii_masa1 %></p>

<p>Masa 2:</p>
<ul>
    <% for (const masa2Product of masa2Products) { %>
    <li><%= masa2Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 2: <%= userData.calorii_masa2 %></p>

<p>Masa 3:</p>
<ul>
    <% for (const masa3Product of masa3Products) { %>
    <li><%= masa3Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 3: <%= userData.calorii_masa3 %></p>
<p>Calorii consumate: <%= userData.calorii_masa1 + userData.calorii_masa2 + userData.calorii_masa3 %></p>
<% } else { %>
<p>No data available for the selected date.</p>
<% } %>




<script src="/js/calendar_istoric.js"></script>

</body>
</html>
