<%- contentFor('body') %>

<label for="data">Data:</label>
<input class="culoare" type="date" id="data" name="data">
<button id="addEventButton">Add Event</button>
<br><br>

<div>
    <label for="eventText">Nr calorii:</label>
    <input type="text" id="eventText" name="eventText">
    <button id="addTextButton">Insereaza</button>
</div>

<div id="calendar">
    <input type="text" id="searchBar" placeholder="Search for products">
    <ul id="searchResults"></ul>
</div>

<div id="produse">
    <h1>Masa1</h1>
    <ul>
        <% for (var i = 0; i < userData.length; i++) { %>
        <li><%= userData[i].dataa %> - <%= userData[i].masa1 %> - <%= userData[i].calorii_masa1 %></li>
        <% } %>
    </ul>
</div>

<div id="selectedProduct">
    <h2>Selected Product:</h2>
    <p id="selectedProductName"></p>
    <button id="addToDatabaseButton" disabled>Add to Database</button>
</div>

<!-- Include the following <script> tag -->
<script src="/js/calendar.js"></script>

<!-- Define the handleSearch function -->
<script>
    function handleSearch(produse, searchBar) {
        // Your handleSearch function code here...
    }
</script>

<!-- Include the produse data -->
<script>
    const produse = <%- JSON.stringify(produse) %>;
</script>

<!-- Include the search.js script -->
<script src="/js/search.js"></script>

<script>
    const addTextButton = document.getElementById("addTextButton");
    addTextButton.addEventListener("click", function () {
        const eventText = document.getElementById("eventText").value;
        console.log("Event Text:", eventText);
    });
</script>
</body>
</html>
