<%- contentFor('body') %>

<label for="data2"></label>
<input class="culoare" type="date" id="data2" name="data">
<button id="addEventButton2">Selecteaza data</button>
<br><br>

<h1>Istoric alimentar</h1>

<!-- Display the selected date -->
<h2 id="selectedDateDisplay">Data selectata: <%= selectedDate %></h2>

<% if (userData) { %>
<!-- Display the fetched data -->
<h3>Masa 1:</h3>
<ul>
    <% for (const masa1Product of masa1Products) { %>
    <li><%= masa1Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 1: <%= userData.calorii_masa1 %></p>

<h3>Masa 2:</h3>
<ul>
    <% for (const masa2Product of masa2Products) { %>
    <li><%= masa2Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 2: <%= userData.calorii_masa2 %></p>

<h3>Masa 3:</h3>
<ul>
    <% for (const masa3Product of masa3Products) { %>
    <li><%= masa3Product.name %></li>
    <% } %>
</ul>
<p>Calorii Masa 3: <%= userData.calorii_masa3 %></p>
<p>Calorii consumate: <%= userData.calorii_masa1 + userData.calorii_masa2 + userData.calorii_masa3 %></p>
<% } else { %>
<p>Va rugam selectati data pentru afisarea istoricului alimentar</p>
<% } %>




<script src="/js/calendar_istoric.js"></script>

</body>
</html>
